& {

  header,
  main {
    overflow: hidden;
  }

  .nav {
    top: 118px;
  }


  #nav-icon {
    width: 30px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }


  #nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: #959aa3;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  #nav-icon span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }

  #nav-icon span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
  }

  #nav-icon span:nth-child(1),
  #nav-icon span:nth-child(2) {
    top: 0px;
  }

  #nav-icon span:nth-child(3),
  #nav-icon span:nth-child(4) {
    top: 8px;
  }

  #nav-icon span:nth-child(5),
  #nav-icon span:nth-child(6) {
    top: 17px;
  }

  #nav-icon.open span:nth-child(1),
  #nav-icon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon.open span:nth-child(2),
  #nav-icon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon.open span:nth-child(1) {
    left: 5px;
    top: 9px;
  }

  #nav-icon.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 9px;
  }

  #nav-icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  #nav-icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  #nav-icon.open span:nth-child(5) {
    left: 5px;
    top: 14px;
  }

  #nav-icon.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 14px;
  }

  #nav-icon {
    float: right;
    clear: both;
  }

  .nav-menu {
    clear: both;
    display: none;

    li {
      width: 104px;
      text-align: center;
      margin: 20px 10px;
    }
  }

  .nav {
    padding: 5px 0 9px;
  }

  .profile .profile-menu {
    right: -40px;
  }

  .nav-submenu {
    z-index: 99;
  }

  .header {
    padding: 70px 0 60px;
    text-align: center;

    .text-right {
      text-align: center;
      margin-top: 20px;
    }
  }

  .header-item .summ .title {
    font-size: 18px;

    span {
      font-size: 15px;
    }
  }

  .header-item .summ .info {
    text-align: left;
    padding-right: 16px;
    position: relative;
    .icon {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    br {
      display: none;
    }
  }

  .header-item {
    text-align: left;

    .graf-title {
      margin-bottom: 15px;
    }
  }

  .reinvest {
    background-size: 100%;
    margin-bottom: 30px;
  }

  .history-profile {
    margin-top: 30px;
  }

  .history-profile table {
    margin-left: 0;
    margin-right: 0px;
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
  }

  .pl40 {
    padding-left: 15px;
  }

  .xs-mt30 {
    margin-top: 30px;
  }

  .withdrawal {
    margin-top: 30px;
    margin-bottom: 30px;
    height: inherit;
  }

  .deposit .header-title {
    position: static;
    margin-bottom: 15px;
  }

  .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_length {
    float: right;
    margin-right: 0;
  }

  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: left;
  }

  .irs--round {
    width: 100%;
  }

  .individual-calc .label input {
    width: 80px;
  }

  .individual-calc .calc-percent .num {
    font-size: 25px;
  }

  .individual-calc .calc-percent .text {
    color: #b7b7b7;
    font-family: "SF Pro Display";
    font-size: 11px;
    text-align: left;
  }

  .individual-calc .calc-percent {
    margin-left: 12px
  }

  .individual-calc {
    text-align: left;
  }

  .individual-calc .border {
    padding-top: 15px;

    &:before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: #94989d;
      opacity: .2;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .menu-fixed {
    position: fixed;
    bottom: 4%;
    right: 33%;
    transition: .3s;
    height: 65px;

    &.m-close {
      right: 12%;
    }
  }

  .chat-btn {
    bottom: 0%;
    left: 12%;
  }

  .pay-item {
    .title {
      font-size: 14px;
    }

    p {
      font-size: 10px;
    }
  }

  .form-pay label + span {
    /*display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 13px;*/
  }

  .form-pay label {
    /*display: block;
    margin-left: auto;
    margin-right: auto;*/
    width: 34vw;
    width: calc(100%/2 - 23px);
    font-size: 12px;

    input {
      font-size: 12px;
      width: 21vw;
      width: calc(100% - 50px);
    }
  }

  .form-pay .btn-broup .button {
    margin-right: 5px;
  }

  .form-pay {
    .pay-close {
      font-size: 12px;
    }

    .button {
      font-size: 12px;
    }
  }

  .form-pay .btn-broup {
    text-align: center;
    margin-top: 20px;
  }

  .tab-content {
    text-align: center;
  }

  .transactions .header-title {
    position: static;
    margin-bottom: 15px;
  }

  .transactions {
    margin-top: 30px;
  }

  .exchange .header-title {
    margin-bottom: 15px;
  }

  .exchange-form .label {
    margin-bottom: 15px;
  }

  .exchange-form .icon {
    margin: 0 auto;
    text-align: center;
    display: block;
    transform: rotate(90deg);
  }

  .exchange-form .info-bottom {
    display: block;
    margin-top: 15px;
  }

  .exchange-form .button {
    margin-right: 0;
  }

  .exchange .table-title {
    position: static;
    margin-top: 30px;
  }

  .team-td,
  .team-item .team-td {

    &:nth-child(1) {
      flex: 0 0 30% !important;
      max-width: 30% !important;
    }

    &:nth-child(2) {
      flex: 0 0 20% !important;
      max-width: 20% !important;
    }

    &:nth-child(6) {
      flex: 0 0 50% !important;
      max-width: 50% !important;
    }

    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      display: none;
    }
  }

  .team-item:before {
    width: 100% !important;
  }

  .icon-item {
    margin-left: 5px;
  }

  .team .search input {
    max-width: 100%;
  }

  .ranks-table td a {
    margin-right: 0;
    display: inline-block;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  #chartContainer {
    height: 250px !important;
  }

  .stock-order .exchange-form .form-box:first-child {
    max-width: 100%;
    margin: 0 0;
    width: 100%;
    text-align: left;
  }

  .stock-order .exchange-form .label {
    max-width: 100%;
    display: block;
  }

  .stock-order .order-btn {
    padding: 12px 30px;
  }

  .stock-order .order-btn.pay {
    margin-right: 0;
  }

  .stock-order .exchange-form .form-box:first-child .label input {
    width: calc(100% - 128px);

    max-width: 100%;
  }

  .stock-order .exchange-form .form-box {
    max-width: 100%;
  }

  .stock-order .exchange-form .label .input-all,
  .stock-order .exchange-form .label input {
    width: calc(100% - 128px);
    max-width: 100%;
  }

  .stock-order .exchange-form .label span {
    min-width: 67px;
    text-align: left;
  }

  .stock-order .exchange-form .form-box {
    display: block;
  }

  .stock-order .exchange-form .label.large .input-all {
    width: calc(100% - 127px);
  }

  #DataTables_Table_4_wrapper {
    margin-bottom: 30px;
  }

  .settings-form .col-left,
  .settings-form .col-right {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .verification .label .btn {
    padding: 12px 12px;
    width: 82px;
  }

  .verification .label .input {
    vertical-align: middle;
    border: 0;
    height: 43px;
    padding: 10px 15px;
    display: inline-block;
    width: calc(100% - 83px);
    color: #ef204c;
    font-family: "SF Pro Display";
    font-size: 11px;
    font-weight: 500;
    line-height: 1;
  }

  .verification .label .icon {
    color: #ef204c;
    font-size: 15px;
    vertical-align: middle;
    margin-right: 0;
  }

  .verification.success .label .input {
    width: 100%;
    line-height: 1.4;
  }

  .logo {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

  .text-right {
    text-align: center;
  }

  .property-title {
    position: static;
  }

  .ladder_ranks-table table.left {
    margin-top: 51px;
    border-radius: 3px;
    width: 132px;
  }

  .ladder_ranks-table table.left tr td {
    font-size: 10px;
  }

  #scroll-tbl {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    width: 42vw;
    width: calc(100vw - 147px);
  }
  #ladder_ranks {
    padding-left: 0;
    padding-right: 0;
  }
  main {
    overflow-x: hidden;
  }

  .ladder_ranks-title {
    text-align: center;
  }

  .ladder_ranks-img {
    text-align: center;
  }

  #reportgraf {
    max-height: 205px;
  }

  .report-table .header-title {
    position: static;
    margin-bottom: 20px;
  }

  .dataTables_wrapper label {
    margin-left: 0;
  }

  #DataTables_Table_0_length {
    float: left;

    label {
      margin-bottom: 0;

    }
  }

  .dataTables_wrapper .dataTables_filter {
    margin-top: 0;
  }

  table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > td:first-child:before,
  table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > th:first-child:before {
    top: 9px;
    left: 4px;
    height: 14px;
    width: 14px;
    display: block;
    position: absolute;
    color: #000;
    border: 0px solid #fff;
    border-radius: 0;
    box-shadow: 0 0;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-35%);
  }

  .report-select select {
    background-position: 90% center;
  }

  .profile {
    float: left;
margin-right: 0;
  }

  .bonus {
    float: right;
  }

  .menu-top {
    padding: 18px 0;
  }

  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0;
  }

  .rang-btn {
    display: block;
  }

  .exchange table td {
    padding: 8px 18px !important;
  }

  .withdrawal table th {
    text-align: center;
  }
  .profile .profile-menu {
    z-index: 999;
  }

  &.btc-template .reinvest:before {
    background: url(../images/graph2.svg) no-repeat center bottom;
    width: 100%;
    height: 100%;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .reinvest:before {
    background: url(../images/graph.svg) no-repeat center bottom;
    width: 100%;
    height: 100%;
    background-size: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  table.dataTable thead .sorting {
    text-align: center;
  }

  .ranks-table td:first-child,
  .ranks-table th:first-child {
    padding: 10px !important;
  }

  .report-table table {
    thead {
      tr {
        th {
          &:nth-child(3) {
            padding: 7px 38px;
          }
        }
      }
    }
  }

  .settings-tab li {
    text-align: left;
    max-width: 132px;
    margin-bottom: 10px;

    a {
      font-size: 10px;
    }
  }
  .security-item .calc-radio {
    margin-left: auto;
    margin-right: auto;
}
  .security-item {
    margin-top: 0;
  }
  .form-title {
    margin-bottom: 10px;
  }
  .exchange-summ {
    margin-top: 20px;
  }
  .team .title {
    margin-top: 34px;
  }
  .security {
    text-align: center;
    .img {
      margin-bottom: 15px;
    }
  }
  .xs-center {
    text-align: center;
  }
  
  .ladder_ranks-table table.right td {
    font-size: 10px;
  }
  .ladder_ranks-table table.right thead tr:nth-child(2) th {
    font-size: 8px;
  }
  
  .owl-carousel .owl-item .bonus_modal-img  {
    text-align: center;
    margin-bottom: 20px;
    img {
    max-width: inherit;
    width: inherit;
    max-height: 30vh;
      margin-left: auto;
      margin-right: auto;
  }
  }
  
  .bonus_modal-item, .owl-dots {
    margin-left: auto;
    margin-right: auto;
  }
  .n_wallet-info {
    text-align: left;
  }
  .n_wallet-item {
    .col {
      margin-bottom: 30px;
    }
  }
  .mb40 {
    margin-bottom: 0;
  }
  .n_wallet-graf_info {
    position: static;
    padding: 20px;
  }
  .n_wallet-graf_content {
    margin-bottom: 30px;
  }
  .n_wallet-img {
    margin-top: 30px;
  }
  
  .reviews-item {
    text-align: left;
  }
  .reviews-item .reviews-rang {
    margin-bottom: 0;
  }
  .reviews-star {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  .item-scroll {
    height: 103px;
    padding-top: 5px;
    overflow: auto;
    text-align: left;
}
  .reinvest-item {
    text-align: left;
  }
}
